# .gitignore
## Example user template
### IntelliJ project files
.idea
*.iml
out
gen

##	Working Directories used by the scripts.
###	Workspace
/build/working/
###	Downloads
/build/downloads/
###	Build
/build/os1337-core/

##	Other files to ignore and not contribute to the sourcecode tree
/scripts/clean
/rootfs.cpio.xz
